<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Realizar operaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formulario" (ngSubmit)="CalcularOperaciones()">
    <ion-list>
      <ion-item>
        <ion-icon name="logo-ionitron" slot="start"></ion-icon>
        <ion-label position="stacked">Numero 1</ion-label>
        <ion-input formControlName="n1" type="number" placeholder="Digite el primer numero"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="logo-ionitron" slot="start"></ion-icon>
        <ion-label position="stacked">Numero 2</ion-label>
        <ion-input formControlName="n2" type="number" placeholder="Digite el segundo numero"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button expand="full" type="submit" [disabled]="!formulario.valid">
          <ion-icon name="calculator" slot="end"></ion-icon>
          Calcular
        </ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>